.card {
  display: flex;
  padding: 1.2rem;
  border: 0.2rem solid #e0e0e0;
  border-radius: 0.5rem;
}

.bienvenida {
  border: 0.2rem solid #456d6b;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #e0f2f1;
  color: #0b1c2c;
}

.actividades {
  display: flex;
}

.resumen-actividad {
  margin-right: 4rem;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  width: 10rem;
  display: flex;
  border-radius: 0.5rem;
}

.resumen-actividad span:first-child {
  margin-right: 3rem;
}

.accesos {
  display: flex;
  gap: 1rem;
}

.accesos .acceso-boton {
  background-color: #456d6b;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
}

.acceso-boton {
  margin-top: 1.5rem;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.actividad-zona button {
  height: max-content;
  align-self: self-end;
  padding: 0.5rem 0.7rem;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 0.1rem solid #0b1c6b;
}

.lista-actividad {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  gap: 14px;
  position: relative;
}

.actividad {
  padding-bottom: 1rem;
}

/* .item:last-child {
  padding-bottom: 0;
} */

.linea {
  position: relative;
  padding-left: 0.3rem;
}

.linea::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 10px;
  width: 2px;
  height: calc(100% - 12px);
  background-color: #dcdcdc;
}

.circulo {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
}

.item:last-child .linea::after {
  display: none;
}

.lista-actividad .item:nth-child(1) .linea .circulo {
  background-color: #2ecc71;
}

.lista-actividad .item:nth-child(2) .linea .circulo {
  background-color: #e67e22;
}

.lista-actividad .item:nth-child(3) .linea .circulo {
  background-color: #34495e;
}

.lista-actividad .item:nth-child(4) .linea .circulo {
  background-color: #f1c40f;
}

.actividad-titulo {
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
}

.actividad-descripcion {
  color: #777;
  font-size: 0.8rem;
  margin: 4px 0 0;
}
