.indicaciones {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.indicaciones h1 {
  color: #0b1c6b;
}

.lista-codigo {
  display: flex;
  max-width: 25rem;
  justify-content: space-between;
}

.lista-codigo > ul {
  margin: 0;
  padding: 0;
}

.lista-codigo > ul input {
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  text-align: center;
}
