.cabecera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecera img {
  width: 10rem;
}

.separador-botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.separador-botones .separador {
  height: 0;
}
